/* Hero Section com imagem de fundo */
.hero-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                      url('../assets/background3.png');
    background-size: cover;
    background-position: center;
/*     background-attachment: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 0;
    padding-top: 0; /* Removido padding-top para a imagem aparecer por trás da navbar */
}
