.section-card {
  padding: 40px 20px;
  background-color: white; // cor de fundo da seção
  display: flex;
  justify-content: center;
}

.control-space-cards{
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.container-card {
    width: auto;       // largura fixa mínima
    max-width: 350px;   // largura máxima
    height: auto;      // altura fixa mínima
    max-height: 350px;  // altura máxima
    background-color: #ffffff;
    border: 1px solid #d1c8b5;
    border-radius: 12px;
    padding: 25px 20px;
    text-align: center;
    box-shadow:  0 4px 1px 0 #c8a35b;

  .card-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #c8a35b;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 14px;
    color: #333333;
    line-height: 1.6;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .container-card {
    padding: 20px;

    .card-icon {
      width: 50px;
      height: 50px;
    }

    .card-title {
      font-size: 16px;
    }

    .card-text {
      font-size: 13px;
    }
  }
}
